# dependencies
/node_modules

# build output
/dist/
tsconfig.tsbuildinfo

# testing
/coverage

# env files
.env*

# Power BI files must never be committed
*.pbix
*.pbit
*.pbip

# misc
.DS_Store
*.pem
npm-debug.log*
